doctype html
html
    head
        title Fund Analyser Dashboard
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css')
        link(rel='stylesheet', href='css/styles.css')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
    body
        include navbar.pug


        script(type='text/javascript', src='https://code.jquery.com/jquery-3.2.1.min.js')
        script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js')
