nav
    .nav-wrapper
        a.brand-logo Fund analyser
        ul.right.hide-on-med-and-down
            li
                a(href='/download/csv', download) Download report
                    i.material-icons.right file_download