[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
ciso8601 = "*"
falcon = "*"
ffn = "*"
matplotlib = "*"
more-itertools = "*"
numpy = "*"
overrides = "*"
pandas = "*"
pytest = "*"
pytest-profiling = "*"
requests = "*"
sklearn = "*"
ujson = "*"
waitress = "*"

[dev-packages]
ta-lib = {path = "./TA_Lib-0.4.17-cp37-cp37m-win32.whl"}

[requires]
python_version = "3.7"
