[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
ciso8601 = "*"
falcon = "*"
ffn = "*"
matplotlib = "*"
more-itertools = "*"
numpy = "*"
overrides = "*"
pandas = "*"
pytest = "*"
pytest-profiling = "*"
requests = "*"
scikit-learn = "*"
tensorflow-win32 = {file = "https://github.com/fo40225/tensorflow-windows-wheel/raw/master/1.13.1/py37/CPU/avx2/tensorflow-1.13.1-cp37-cp37m-win_amd64.whl",sys_platform = "== 'win32'"}
tensorflow = {version = "*",sys_platform = "!= 'win32'"}
ujson = "*"
waitress = "*"
lz4 = "*"

[dev-packages]
ta-lib = {file = "bin/TA_Lib-0.4.17-cp37-cp37m-win_amd64.whl",sys_platform = "== 'win32'"}

[requires]
python_version = "3.7"
